
<div id="porcupine" class="@Class" style="height: @Height; width: @Width; margin: @Margin; padding: @Padding; border: @Border; border-radius: @BorderRadius;">
    <div id="porcupineEditor" style="border: none; height: @_EditorHeight;">
    </div>    
</div>