@namespace PorcupineHtmlEditor

<div id="@_ContainerId" class="@Class" style="height: @Height; width: @Width; margin: @Margin; padding: @Padding; border: @Border; border-radius: @BorderRadius;">
    <div id="@Id" style="border: none; height: @_EditorHeight;">
    </div>    
</div>